{
  "env": {
    "production": {
      "plugins": [
        "external-helpers"
      ],
      "presets": [
        ["env", {
          "modules": false
        }], "react"
      ],
    },
    "test": {
      "presets": [
        "env", "react"
      ],
    }
  }
}
