{
  "env": {
    "production": {
      "plugins": [
        "external-helpers"
      ],
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "node": "current"
          }
        }], "react"
      ],
    },
    "test": {
      "presets": [
        "env", "react"
      ],
    }
  }
}
